.Content {
    margin: 0 auto;
    color: black;
    width: 90%
  }
  /*--- Se utilizara para los botones existentes en los contenidos de las paginas ---*/
  .colorbtn{
    background-color:black;
    color: white;
}